
*{margin:0px;
padding:0;       
 
                              }


.main {
display: inline-block;


  
}


body{ 
         background-image: url(img.jpg);
         background-repeat: no-repeat;
         height: 500px;
        width:605px;
         background-size: cover;
         background-position:CENTER;
  }
  ul{ float:center;
        list-style-type:none;  
          margin-top:5px ;           
          margin-left:455px;
             padding: 20px;    
           
             height: 5px;
         width:calc(100%);     
         
        color:aliceblue;     
              }

   ul li   { display:inline-block;
                                     }



   ul li a { 
     text-decoration:none;
        color:rgb(18, 16, 13);
    padding:5px 20px;

       margin-top: 70px,10px 0,50px;   
           transition: 0.5s ease; 
           font-style:bold ;  
           color:orange;
           border:4px solid rgb(246, 241, 241) ;       
                height: 20px;
              width:80px;   
              background-color: black;
              border-radius: 20px;
              text-align:underline ;

                       }  

       ul li a:hover{  background-color: cyan;      
                   color:black
       }               


       .hii{     position:absolute;
                      top:50%;
                      left:50%;  
                     transform: translate(-50%,-50%); 
                     transition: all 0.9 ease; 

                                   }

.about a {
    position:absolute;
    top:60%;
    left:50%;  
   transform: translate(-50%,-50%); 
           color:orange;
             border:3px solid rgb(221, 138, 138) ;       
                  height: 30px;
                width:110px;
                text-decoration:none;
                border-radius: 20px;
                  background-color: black;    
                text-align: center;                     }

         a:hover{
                          color: rgb(240, 16, 39);
                                 background-image:linear-gradient(green,cyan,yellow,blue);   
                                            }                   
                                
                    
                     h1 a {  color:white;
                    font-size: 50px;    
                    text-decoration:none;    }
.img {               
    position:absolute;
    top:37%;
    left:50%;  
   transform: translate(-50%,-50%); 
   border:3px solid black transparent;       
   height: 150px;
 width:270px;
 border-radius: 150px;
 background-image: url(dev.jfif);
transition: all 7s;
}

.img:hover {
             transform: translate(100px,-70px);    

}
.img1 {               
  position:absolute;
  top:23%;
  left:10%;  
 transform: translate(-50%,-50%); 
 border:3px solid rgb(232, 221, 221) ;       
 height: 180px;
width:200px;
box-shadow: 10px -20px 20px rgb(233, 233, 137);
border-radius: 150px;
background-image: url(me3.jpg);
 background-repeat: no-repeat; 
transition: 8S ease;               }

 .img1:hover {
                 transform: scale(2.5); }

h3 {
  position:absolute;
  top:5%;
  left:10%;  
 transform: translate(-50%,-50%); 
 border:2px solid rgb(25, 23, 23)transparent ;       
 height: 30px;
width:180px;
border-radius: 20px;
border-left:10px solid black ;
border-right:10px solid black ;
border-bottom:10px solid black ;
font-size: 30px;
color:#0e21e9;
box-shadow: 10px, -10px ,20px rgb(221, 226, 72);


}




 #form {
             width:250px;
             height:350px;
             background-image:linear-gradient(orange,rgb(142, 142, 28),rgb(136, 36, 36)transparent);
             position:absolute;
             top:80px;
             left:1170px;
             border:5px solid rgb(226, 219, 219) transparent;
             border-left: 2px solid rgb(234, 175, 135);
             border-radius: 25px;
             padding: 30px;  
             box-shadow: 20px -10px 23px rgb(240, 240, 127);    
              resize: both;
  }
   h2 { color: rgb(241, 241, 33);
              text-align: center;
               border:2px solid white;
               background-color:black ;
               height:30px;
               width:200px;
               border-radius: 20px ;
               padding: 4px;
               margin: 8px;

  }
  h2:hover {
                color:rgb(12, 16, 12);
                background-image:radial-gradient(red,rgb(21, 163, 192),blue);

  }

  input{color: #d41f1f;
          height:30px;
           width:160px;
            text-align: center;
               margin-top:25px;
              border-radius:10px;
              background:transparent;
              border:2px solid red transparent;
              border-top: none;
              border-bottom:3px solid white;
              border-left: none;
              border-right: none;
              

  }

  input:hover {
                   
                      background-color:cyan;
                      color: #000000;
  }


  button {color: #000000;
          height:30px;
           width:150px;
            text-align: center;
               margin-top:25px;
              border-radius:10px;
              background-color: rgb(27, 17, 17);
              text-decoration:none ;
  }
  
  button a{color: #0fde3f;
    height:30px;
     width:160px;
      text-align: center;
      font-size: large;
         margin-top:15px;
        border-radius:10px;
        text-decoration:none ;
    
}



